body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}
h1 span{
  color: blue;
}
img{
  width: 300px;
  height: 200px;
  display: inline;
}
.left {
  float: left;
  width: 45%;
}
.right {
  float: right;
  width: 45%;
}
.left img{
  float: left;
  margin: 40px;
 
}
.right img{
  float: left;
  margin: 40px;
}
.right> h2{
  padding-top: 40px;
  text-size-adjust: 2rem;
}
.left> h2{
  padding-top: 36px;
  text-size-adjust: 2rem;

}
.logo{
  width: 263px;
  height: 46px;
}
@media(max-width: 680px){
  .logo{
    width: 100px;
  }
  .card{display: block;
    width: 100%;
    text-align: justify;
    object-fit: cover;
  }
  .card img{
    width: 100%;
    margin-left: 0px;
  }


}




